@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}
 body {
  height: 100vh;
  background-position: center center;
  display: flex;
  flex-direction: column;
  background-size: cover;
/*   background-image: url("https://img.freepik.com/free-vector/gradient-galaxy-background-with-rocket_23-2148154130.jpg?t=st=1730032257~exp=1730035857~hmac=69a097c0778a661fe6093847715954166d663ade3f65ea7e61520956b4452b49&w=826");
 */

 background-image: linear-gradient(
    25deg,
    #1c1c26,
    #1e202f 11%,
    #1e2438 23%,
    #1c2740 36%,
    #172c4a 48%,
    #19336b 61%,
    #323486 74%,
    #5b2f9d 87%,
    #e59742
  );
}
